body {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: #000;
    text-align: left;
}
.container {
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 992px;
    gap: 0 20px;
    margin-left: auto;
    margin-right: auto;
}
header {
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 992px;
    height: 125px;
}
.header__logo {
    font-size: 16px;
    font-style: normal;
    color: #000;
}
.header__nav {
    flex: 2 1 auto;
    text-align: right;
}
.nav__link {
    display: inline;
    font-size: 16px;
    font-weight: 600;
    padding-left: 24px;
}
.nav__link a {
    text-decoration: none;
    color: #000;
}
.nav__link a:hover {
    text-decoration: overline;
    cursor: default;
    color: #0065fc;
}
.description {
    width: 992px;
}
h2 {
    font-size: 22px;
    font-weight: 900;
    line-height: 12px;
}
p {
    font-size: 16px;
}
.searchbar {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    width: 992px;
}
#searchbar__icon {
    background-color: #f2f2f2;
    border-radius: 16px 0 0 16px;
    width: 18px;
    height: 18px;
    padding: 16.5px;
}
.searchbar__input {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid #f2f2f2;
    border-right: 2px solid #0065fc;
    padding: 2px 1px 2px 10px;
    height: 43px;
}
::placeholder {
    color: #000;
    font-weight: 900;
}
.searchbar__btn {
    background-color: #0065FC;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    color: #fff;
    padding: 2px 2px 2px 5px;
    border: 0;
    border-radius: 0 16px 16px 0;
    width: 90px;
    height: 50px;
}
.filters {
    display: flex;
    width: 750px;
    margin: 40px 10px 40px 10px;
}
#filters__title {
    font-size: 17px;
    font-weight: 900;
}
#filters__icon {
    width: 20px;
    height: 20px;
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 13px;
}
.filters__btn {
    font-size: 18px;
    font-weight: 900;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    height: 46px;
    margin-left: 20px;
}
.filters__btn:hover {
    border-color: #DEEBFF;
}
/* .money-btn {
    width: 50px;
}
#money-icon {
    
}
.family-btn{
    width: 50px;
}
#family-icon {

}
.heart-btn {
    width: 50px;
}
#heart-btn {

}
.pets-btn {
    width: 50px;
}
#pets-icon {

} */
.info {
    display: flex;
    flex-flow: row nowrap;
    width: 992px;
    margin-top: -20px;
    margin-bottom: 20px;
}
#info__icon {
    width: 14px;
    height: 14px;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    padding: 4px;
    margin: 12px;
}
.accommodations-left {
    background-color: #f2f2f2;
    width: 670px;
    border-radius: 20px;
    padding-top: 80px;
}
.row-top, .row-bottom {
    display: flex;
    width: 670px;
}
#accommodations-left__img {
    background-color: #f2f2f2;
    width: 180px;
    height: 80px; 
    border: 2px solid #fff;
    border-bottom: 82px solid #fff;
    border-radius: 20px;
    padding: 2px;
    margin: 17px;
    box-shadow: 2px 2px 15px #cacaca;
}
.accommodations-right {
    align-content: space-around;
    background-color: #f2f2f2;
    width: 300px;
    border-radius: 20px;
    padding-top: 80px;
}
.column-right {
    width: 300px;
}
#accommodations-right__img {
    background-color: #f2f2f2;
    width: 100px;
    height: 110px; 
    border: 2px solid #fff;
    border-right: 160px solid #fff;
    border-radius: 20px;
    padding: 2px;
    margin: 16px;
    box-shadow: 2px 2px 15px #cacaca;
}
.activities {
    display: flex;
    margin-top: 60px;
    margin-left: -18px;
    column-gap: 6px;
}
.activities-one, .activities-three {
    width: 248px;
}
.activities-two, .activities-four {
    width: 248px;
}
.column-one, .column-three {
    width: 248px;
}
.column-three, .column-four {
    width: 248px;
}
#set-one {
    width: 230px;
    height: 300px;
    border-bottom: 50px solid #fff;
    border-radius: 20px;
    padding: 2px;
    margin: 16px;
    box-shadow: 2px 2px 15px #cacaca;
}
#set-two {
    width: 230px;
    height: 104px;
    border-bottom: 50px solid #fff;
    border-radius: 20px;
    padding: 2px;
    margin: 16px;
    box-shadow: 2px 2px 15px #cacaca;
}    
#set-three {
    width: 230px;
    height: 300px;
    border-bottom: 50px solid #fff;
    border-radius: 20px;
    padding: 2px;
    margin: 16px;
    box-shadow: 2px 2px 15px #cacaca;
}
#set-four {
    width: 230px;
    height: 104px;
    border-bottom: 50px solid #fff;
    border-radius: 20px;
    padding: 2px;
    margin: 16px;
    box-shadow: 2px 2px 15px #cacaca;
}
.footer {
    margin-top: 25px;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    width: 992px;
    height: 190px;
    font-size: 15px;
    padding-top: 20px;
}
#footer__list {
    list-style-type: none;
    line-height: 30px;
}
#footer__bold {
    font-size: 17px;
    font-weight: 900;
    padding-bottom: 17px;
}