.container {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 992px;
    gap: 10px;
    margin: auto;
}
h2 {
    font-size: 20px;
}
.header__logo {
    font-size: 16px;
    font-style: normal;
    color: #000;
    margin-top: 30px;
}
.header__nav {
    text-align: right;
    margin-top: -45px;   
}
.nav__link {
    display: inline;
    font-size: 16px;
    font-weight: 900;
    padding-left: 24px; 
}
.nav__link a {
    text-decoration: none;
    color: #000;
}
.nav__link a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 48px;
    color: #0065fc;
}
@media only screen and (max-width : 768px) { 
    .container {
        justify-content: center;
    }
    h2 {
        font-size: 22px;
    }
    .header {
        order: 1;
    }
    .header__logo, .header__nav {
        text-align: center;
        width: 100%;
    }
    .header__logo {
        padding-bottom: 10px;
    }
    .header__nav {
        margin-top: 0px;
    }
    .list {
        padding-inline-start: 0px;
    }
    .nav__link {
        display: inline-block;
        font-size: 18px;
        font-weight: 900;
        padding-left: 0px;
        margin-left: -4px;
    }
    .nav__link a {
        text-decoration: none;
        color: #000;
        border-bottom: 3px solid #f2f2f2;
        padding: 0 64px 10px 64px;
    }
    .nav__link a:hover {
        border-top: 0px;
        border-bottom: 3px solid #0065fc;
        padding: 0 64px 10px 64px;
        color: #0065fc;
    }
}
.searchbar {
    margin-top: 15px;
}
.fa-location-dot {
    font-size: 16px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding: 18px;
}
.searchbar__input, .searchbar__btn {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    margin-left: -5px;
}
.searchbar__input { 
    font-weight: 900;
    border: 2px solid #f2f2f2;
    padding: 2px 2px 2px 10px;
    height: 43px;
}
::placeholder {
    color: #000;
    font-weight: 900;
}
.searchbar__btn {
    background-color: #0065FC;
    letter-spacing: 1px;
    color: #fff;
    padding: 2px 2px 2px 5px;
    border: 0;
    border-radius: 0 16px 16px 0;
    width: 90px;
    height: 51px;
}
.search-btn__img {
    color: #fff;
}
@media only screen and (max-width : 768px) { 
    .intro {
        order: 2;
        text-align: center;
    }
    p {
        margin-left: -175px;
    }
    .details {
        order: 5;
        text-align: center;
        margin-top: 220px;
        margin-bottom: 25px;
        margin-left: -70px;
    }
    .detail {
       display: block;
       margin-top: -15px;
       margin-left: -85px;
    }
    .searchbar {
        order: 3;
        text-align: center;
        margin-top: 10px;
        margin-left: -30px;
    }
    .fa-location-dot {
        padding: 17.5px;
    }
    .searchbar__input { 
        font-weight: 900;
        border: 2px solid #f2f2f2;
        padding: 2px 2px 2px 10px;
        width: 250px;
    }
    .search-btn__img {
        background-color: #0065FC;
        font-size: 20px;
        text-align: center;
        color: #fff;
        padding: 1px 2px 3px 5px;
        border: 0;
        border-radius: 16px;
        width: 47px;
        height: 33px;
        margin-left: -18px;
        padding-top: 16px;
    }
    .search-btn__text {
        display: none;
    }
}
.filters {
    margin-top: -15px;
}
.title {
    position: relative;
    top: 50px;
}
.buttons {
    display: inline;
    font-weight: 900;
    border: 3px solid #f2f2f2;
    border-radius: 100px;
    padding: 10px 20px 10px 0;
    margin-left: 15px;
}
.buttons:hover {
    background-color: #DEEBFF;
}
.money-button {
    margin-left: 40px;
}
.fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog {
    font-size: 16px;
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 14px;
    margin-left: -2px;
    margin-right: 10px;
}
.fa-child-reaching {
    padding: 14px 16px;
}
.fa-info {
    font-size: 12px;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    padding: 3px 7px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}
@media only screen and (max-width : 768px) {
  .filters {
        order: 4;
        margin-top: -30px;
        width: 400px;
    }
    .title {
        text-align: center;
        margin-left: -320px;
    }
     .filters-list {
        position: relative;
    }
    .buttons {
        position: absolute;
        padding: 0 20px 0 0;
    } 
    .money-btn {
        top: 45px;
        left: 180px;
    }
    .child-btn {
        top: 105px;
        left: 180px;
    }
    .dog-btn {
        top: 165px;
        left: 175px;
    }
    .heart-btn {
        top: 45px;
        left: 360px;
    }
}
.titles {
    margin-top: 40px;
    padding-left: 20px;
}
.show-more {
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 35px;
}
.cards { 
    background-color: #f2f2f2;
    border-radius: 20px;
}
.cards-left {
    width: 68%;
}
.cards-right {
    width: 30%;
}
.cards-bottom, .details, .filters, .searchbar, .intro, .header {
    width: 100%;
}
.card {
    background-color: #fff;
    font-size: 11px;
    border: 4px solid #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #cacaca; 
}
.card__title {
    font-size: 14px;
}
.card__details {
    font-size: 13px;
}
.card-right {
    margin: auto;
    width: 90%;
    height: 118px;
}
.card-bottom {
    border: 1px solid #fff;
}
.card-bottom__two {
    height: 202px;
}
.card-bottom__three {
    height: 132px;
}
.card-bottom__five {
    height: 157px;
}
.card-bottom__six {
    height: 177px;
}
.images-radius {
    border-radius: 16px 16px 0 0;
}
.images-right {
    border-radius: 16px 0 0 16px;
    margin-right: 6px;
    float: left;
}
.text {
    position: relative;
    line-height: 20px;;
    top: 5px;
    left: 10px;
}
.text-left {
    margin-bottom: 5px;
}
.text-right {
    float: inherit;
}
.title__mod {
    padding-top: 11px;
}
.title__mod-top, .details__mod-top {
    padding-top: 10px;
    padding-bottom: 22px;
}
.details__mod {
    padding-top: 5px;
    padding-bottom: 32px;
}
.details__mod-bottom {
    padding-bottom: 35px;
}
.fa-star,.fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog, .fa-info {
    color: #0065fc;
}
.star-gray {
    color: #dbdbdb;
}
.cards-right__header {
    margin-top: 40px;
    margin-bottom: -6px;
}
.cards-bottom__header {
    margin-top: 40px;
    margin-left: 15px;
}
.fa-arrow-trend-up, .fa-chart-line {
    padding-left: 100px;
}
.fa-arrow-trend-up {
    font-size: 16px;
    position: relative;
    left: 125px;
    bottom: 27.5px;
}
.links {
    text-decoration: none;
    color: #000;
}
.links:hover {
    color:#0065fc;
}
.columns-left, .columns-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 16px;
}
.rows-right, .rows-bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 16px;
}
.columns > * {
    flex-shrink: 1;
}
@media only screen and (max-width : 768px) {
    .most-popular {
        order: 6;
    }
    .accommodations {
        order: 7;
    }
    .activities {
        order: 8;
    }
    .columns {
        flex-direction: column;
    } 
    .cards {
        background-color: #fff;
        width: 45%;
    }
    .cards-right {
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 0px;
        padding-bottom: 40px;
    }
    .card {
        font-size: 14px;
    }
    .card-right {
        margin: auto;
        width: 45%;
        height: 130px;
    }
    .card-bottom {
        border: 0px;
        margin: auto;
        width: 45%;
        height: 185px;
    }
    .titles {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 5px;
    }
    .images {
        width: 100%;
    }
    .images-right {
        width: 35%;
        height: 129.5px;
    }
    .images-radius {
        height: 120px;
    }
    .cards-bottom__header {
        padding-left: 200px;
    }
    .cards-right__header {
        padding-left: 210px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
   .text-bottom {
        position: relative;
        left: 15px;
   }
   .card__title {
       font-size: 16px;
   }
   .card__details {
       font-size: 14px;
   }
   .title__mod {
        padding-top: 11px;
    }
    .title__mod-top {
        padding-top: 10px;
        padding-bottom: 22px;
    }
    .details__mod-top {
        padding-top: 10px;
        padding-bottom: 35px;
    }
    .details__mod-bottom {
        padding-bottom: 60px;
    }
    .details__mod {
        padding-top: 5px;
        padding-bottom: 40px;
    }
    .fa-chart-line {
        padding-left: 170px;
    }
    .fa-arrow-trend-up {
        font-size: 16px;
        top: -6px;
        left: -118px;
    }
}
.footer {
    align-content: flex-end;
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 55px;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 190px;
    font-size: 15px;
    padding-top: 20px;
}
.footer__list {
    list-style-type: none;
    line-height: 30px;
}
@media only screen and (max-width : 768px) {
    .footer {
        order: 9;
        background-color: #f2f2f2;
        margin-top: 25px;
    }
    .footer__nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 400px;
        font-size: 15px;
        padding-left: 165px;
    }
    .footer__list {
        list-style-type: none;
        line-height: 30px;
    }
}